/* SETUP */
@import url('https ://fonts.googleapis.com/css2 ?family=Inter :wght@100.. 900&display=swap') ;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family : « Inter », sans-serif ;
     font-size: 20px;
     color: #667085;
     font-weight: 300;
}

/* PROJET CSS */
.nav-bar, .nb-left, .nb-right, .nbr-menu, .nbr-btn, .footer, .ft-main, .ftm-left, .ftml-w, .ftm-right {
    border: 1px solid red;
}


.nav-bar{
    width: 100%;
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 72px;
}

.nb-left{
    width: 50%;
    height: 100%;
     display: flex;
    justify-content: start;
    align-items: center;
}

.nb-left img{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: start;
    align-items: start;
}
.nb-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nbr-menu{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nbr-menu p a{
    color:  #667085;
    text-decoration: none;
}

#menu-Apropos{
    color: #000000;
    font-weight: 600;
    text-decoration: underline black;
}

.btn-whited{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-black{
    width: 100px;
    height: 60px;
    background-color: #000000;
    color: white;
    font-size: 20px;
    border-radius: 8px;
}

.btn-white{
    width: 100px;
    height: 60px;
    background-color: white;
    color:#000000;
    font-size: 20px;
    border-radius: 8px;
}


.footer{
    width: Fill 100%;
    height: Hug (120px);

    display: flex;
    justify-content: center;
    align-items: center;
    padding:48px, 0px, 48px, 0px ;
    gap: 64px;
    background-color: #F9FAFB;
}
.ft-main{
    width: 70%;
    height: Hug (24px);

    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px, 32px, 0px, 32px ;
    gap: 64px;
}

.ftm-left{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.ftml-w{
   width: 1016px;
   height: 24px;
   font-family : « Inter », sans-serif ;
     font-size: 16px;
     color: #98A2B3;
     font-weight: 400;

}


.ftm-right{
    width: 15%;
    height:Hug (24px) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}
.ftm-right i{
    height: 24px ;
    width: 24px;
    color: #98A2B3 ;

}
