/* SETUP */
@import url('https ://fonts.googleapis.com/css2 ?family=Inter :wght@100.. 900&display=swap') ;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family : « Inter », sans-serif ;
     font-size: 20px;
     color: #667085;
     font-weight: 300;
}

/* PROJET CSS */
.nav-bar, .nb-left, .nb-right, .nbr-menu, .nbr-btn, .footer, .ft-main, .ftm-left, .ftm-right, .accompagnement,.acc-main, .accm-left,
 .accm-righ {
    border: 1px solid red;
}


.nav-bar{
    width: 100%;
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 72px;
}

.nb-left{
    width: 50%;
    height: 100%;
     display: flex;
    justify-content: start;
    align-items: center;
}

.nb-left img{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: start;
    align-items: start;
}
.nb-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nbr-menu{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nbr-menu p a{
    color:  #667085;
    text-decoration: none;
}

#menu-Apropos{
    color: #000000;
    font-weight: 600;
    text-decoration: underline black;
}

.btn-whited{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-black{
    width: 100px;
    height: 60px;
    background-color: #000000;
    color: white;
    font-size: 20px;
    border-radius: 8px;
}

.btn-white{
    width: 100px;
    height: 60px;
    background-color: white;
    color:#000000;
    font-size: 20px;
    border-radius: 8px;
}

.footer{
    width: 100%;
    height: Hug (120px);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 72px;
    background-color: #F9FAFB;
}

.ft-main{
    width: 95%;
    height:Hug (24px) ;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.ftm-left{
    height: 100%;
    width: 90%;

}
.ftm-right{
    width: 10%;
    height: 100%;

}


.accompagnement{
    width: 100%;
    height: Hug (344px);
    padding: 0px, 0px, 96px, 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 72px;
    background-color: #F9FAFB;
}

.acc-main{
    width: 95%;
    height:Hug (24px) ;
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.accm-left{
    height: 100%;
    width: 70%;

}

#ml-acc{
    color: #000000;
    font-weight: 600;
   font-size: 40 px;
    line-height: 14px;
    font: Inter;
}
#ml-lip{
    color: #000000;
    font-weight: 400;
    size: 20px;
    line-height: 30px;
    font: Inter;
}
.accm-right{
    width: 30%;
    height: 100%;

}

